*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.headline{
    width: 100%;
    height: 100vh;
}

.logo{
    position: absolute;
    left: 90px;
    top: 70px; 
}

.logo h1{
    font-size: 4rem;
    color: rgb(0, 174, 255);
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 2px 2px 20px black;
}

.logo h1 span{
    color: rgb(209, 3, 250);
}

.logo h4{
    margin-left: 370px;
    font-size: 22px;
    margin-top: -17px;
    text-shadow: 2px 2px 20px black;
    color: rgb(255, 72, 0);
}

.shopping img{
    height: 320px;
    margin-top: 150px;
    margin-left: 80px;
}

.view img{
    height: 300px;
    margin-top: -500px;
    margin-left: 1000px;
}

.view p{
    font-size: 18px;
    align-items: center;
    right: 20px;
    text-align:left;
    width: 500px;
    margin-left: 800px;
    font-weight:500;
    font-family: sans-serif;
}


.title{
    margin-top: -50px;
    left: 90px;
    position: absolute;
}


.title h2{
    font-size: 1.6rem;
    letter-spacing: 2px;
}

.title h2 span{
    color: rgb(96, 252, 6);
}


.title h4{
    padding-top: 5px;
}


.title .btn{
    width: 150px;
    height: 40px;
    background-color: #2f2e41;
    box-shadow: 2px 2px 30px #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    margin-top: 20px;
    color: #FFFFFF;
    font-family: calibri;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    border: transparent !important;
}


.btn:hover{
    color: #FFFFFF;
    background-color: rgb(11, 199, 11);
    transition: all ease 0.5s;
}


.searchbox{
    position: fixed;
    right: 20px;
    top: 65px;
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.808);
    border: 1px solid rgba(0, 0, 0, 0.404);
    z-index: 1;
}

.searchbox input{
    width: 150px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #000000;
    font-size: 13px;
    padding: 0px 15px;
    font-family: serif;
}


.section{
    width: 300px;
    float: left;
    display: flex;
}

ul{
    float: left;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-left: -45px;
    position: fixed;
}

ul li{
    list-style: none;
    margin-left: 150px;
    margin-top: 15px;
    font-size: 20px;
}

ul li h6{
    align-items: center;
    justify-content: center;
    text-align:center;
    font-size: 10px;
}

.productsection{
    width: 90%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 20px;
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    position: relative;
    background-size: 1000px;
    border-radius: 10px;
}


.productsection h3{
    margin: 20px;
    text-shadow: 2px 2px 10px black;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2rem;
}

.catagory{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    width: 100%;
}

.productlist{
    width: 230px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    margin: 10px 30px;
}


.productlist img{
    height: 180px;
}


.productlist:hover{
    box-shadow: 2px 2px 20px #1f1f1f;
    background-color: #FFFFFF;
}


.productlist:hover a:last-child{
    color: #FFFFFF;
    transition: all ease-out 0.3s;
}

.productlist button{
    position: absolute;
    width: 140px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    bottom: -18px;
    border-radius: 15% 15% 15% / 50% 50% 50% ;
    background: linear-gradient(120deg, #6b6b6b 20%, #c70d0d,#FFFFFF);
    color: #FFFFFF;
    display: none;
    animation: fade 0.2s;
}


.productlist:hover button{
    display: flex;
    cursor: pointer;
}


.productsection span{
    color: rgb(40, 6, 71) ;
}


.aboutbox{
    display: flex;
    width: 85%;
    margin: 50px auto;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-bottom: 50px;
}


.about{
    width: 50%;
}

.aboutimg{
    width: 70%;
    height: 100%;
    object-fit: contain;
    margin-left: 100px;
}

.about h1{
    font-weight: 700;
    font-size: 3rem;
    margin: 0px;
}

.about p{
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: sans-serif;
    width: 100%;
}

footer{
    padding: 20px;
    background-color: #000000 !important;
}

footer p{
    text-align: center;
    color: #FFFFFF;
}

